#wrapper{
	background-color: black



}
h1{
	display: inline-block;
	color: white;
	font-size: xx-large;
	margin-left: 20px;


}
p{
	display: inline-block;
	color: white;
		margin-left: 20px;
}

#pixs{
	display: inline-block;
		margin-left: 20px;
	}